.product-tile {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 36px;

  &-header {
    margin-bottom: 10px;
    position: relative;
  }

  &-title {
    font-size: 22px;
  }

  &-image {
    display: block;

    img {
      width: 100%;
      position: relative;
    }
  }

  .product-fav {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 20px;

    i[class*='fa-'] {
      font-size: 40px;
    }
  }

  &-title {
    text-transform: uppercase;
    margin-top: 24px;
  }

  .product-price {
    font-weight: 300;
  }
}
