.footer {
  background: $brand-secondary;

  @include media-breakpoint-up(lg) {
    font-size: 22px;
    padding: 40px 0;
  }

  &-inner {
    width: 100%;
    padding: 0;

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template: 1fr / repeat(4, 1fr);
      max-width: 1296px;
      margin: 0 auto;
    }
  }

  &-contact {
    @include media-breakpoint-up(lg) {
      grid-area: 1 / 1 / 2 / 2;
    }

    &-inner ul {
      @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
      }
    }
  }

  &-nav {
    padding: 32px 0px;

    background: #707070;
    color: $white;

    font-family: 'Roboto';

    @include media-breakpoint-up(lg) {
      grid-area: 1 / 2 / 2 / span 2;
      padding: 0;
      background: transparent;
      color: $brand-primary;

      font-family: 'Playfair Display', serif;
    }

    &-inner {
      h1 {
        font-family: 'Playfair Display', serif;
        text-align: center;
        font-size: 22px;
      }
    }
    @include media-breakpoint-up(lg) {
      padding: 0;
    }

    &-content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;

      margin: 40px 0;

      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0 20px;
      }

      @include media-breakpoint-up(lg) {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        justify-items: center;
        margin: 0;

        flex-direction: row;
      }
    }

    &-content ul:first-child {
      border-left: 2px solid;

      @include media-breakpoint-up(lg) {
        border: none;
      }
    }

    .footer-consent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;

      text-decoration: underline;
      font-style: italic;
    }
  }

  &-connect {
    padding: 32px 0;

    &-inner {
      padding: 0;
    }
    h1 {
      font-size: 22px;
      text-align: center;
      margin-bottom: 24px;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }

    .footer-newsletter {
      display: flex;
      flex-direction: column;
      gap: 22px;
      align-items: center;

      font-family: 'Roboto', sans-serif;

      @include media-breakpoint-up(lg) {
        align-items: flex-start;

        .label-lg {
          font-family: 'Playfair Display', serif;
        }
      }

      input[type='email'] {
        display: inline-block;
        width: 75%;

        &::placeholder {
          padding-left: 12px;
          font-style: italic;
          font-size: 12px;
        }

        @include media-breakpoint-up(lg) {
          width: 100%;
        }
      }

      .newsletter {
        text-align: center;

        @include media-breakpoint-up(lg) {
          align-self: stretch;
          text-align: start;
        }
      }
      .consent {
        display: flex;
        gap: 12px;

        label {
          font-size: 12px;

          a {
            text-decoration: underline;
          }
        }
      }
    }
    @include media-breakpoint-up(lg) {
      grid-area: 1 / 4 / 2 / 5;
      padding: 0;
    }
  }

  &-social {
    margin-top: 24px;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 18px;

      i[class*='fa-'] {
        font-size: 32px;
      }

      li:nth-child(odd) {
        order: -1;
      }

      @include media-breakpoint-up(lg) {
        justify-content: flex-start;
      }
    }
  }
}
