.footer {
  background: $brand-secondary;

  &-inner {
    width: 100%;
    padding: 0;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
  }

  // nav trebuie facut cu grid
  &-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;

    background: #707070;
    color: $white;

    font-family: 'Roboto';
  }

  &-connect {
    display: flex;
    flex-direction: column;
  }
}
