.button {
  display: inline-flex;
  border: 1px solid $brand-primary;
  background: transparent;

  &-primary {
    padding: 6px 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: $brand-primary;
    background: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-out;

    &:hover {
      background-color: $brand-primary;
      color: $white;
    }
  }

  &-secondary {
    padding: 4px 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: $brand-primary;
    background: transparent;
    text-transform: uppercase;

    &:hover {
      background-color: $brand-primary;
      color: $white;
    }
  }
}
